body {
    padding: 1em;
  }
  
  .ui.color1 {
    background-color: #FA8D5C;
    color: #fff;
  }
  
  .ui.color2 {
    background-color: #FFCA3A;
    color: #1F271D;
  }
  
  .ui.color3 {
    background-color: #9FD356;
    color: #1F271D;
  }
  
  .ui.color4 {
    background-color: #BFF7A2;
    color: #1F271D;
  }
  
  .ui.color5 {
    background-color: #1F271D;
    color: #1F271D;
  }
  
  .ui.color6 {
    background-color: rgb(248, 233, 215);
    color: #1F271D;
  }

  .ui.color7 {
    background-color: #1e1d1d;
    color: #1F271D;
  }

  .ui.color8 {
    background-color: #e9f7cf;
    color: #1F271D;
  }
  
  .ui.color9 {
    background-color: #FDDFD2;
    color: #1F271D;
  }

  .ui.color10 {
    background-color: rgba(255, 202, 58, 0.322);
    color: #1F271D;
  }

  .ui.color11 {
    background-color: #1F271D;
    color: #1F271D;
  }

  .ui.color12 {
    
    color: #1F271D;
  }